<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="pull-left">
      <ul class="menu">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Portfolio", portfolio_path %></li>
      </ul>
    </div>
  	<div class="pull-right">
    	<h1>Christoffer Nygaard</h1>
    </div>
	</div>
</div>

<%= yield %>

<div class="footer">
  <div class="container">
    <a href="#facebook"><img width="20px" src="https://photos-5.dropbox.com/t/2/AAASSKwjODx2Q6rbHTejE2orgXITn7qAjXbWrI2j2DoVBg/12/15474743/png/32x32/1/_/1/2/facebook.png/ELahwwsY9sWmAiAHKAc/VFHNddiyrP8-akBa6L3O883DKO5wX6Sf8KOAATjVuNY?size=2048x1536&size_mode=3"></a>
    <a href="#linkedIn"><img width="20px" src="https://photos-5.dropbox.com/t/2/AAAqzvYrlx0wwM-OPLg8yfh65HpyYMzzvmbiKro_6P-BRg/12/15474743/png/32x32/1/_/1/2/linkedin.png/ELahwwsY9sWmAiAHKAc/PP32YyZEtuyY-4T3ulUIuXA579I402U0lOde_vNZ5XU?size=2048x1536&size_mode=3"></a>
    <a href="#twitter"><img width="20px" src="https://photos-5.dropbox.com/t/2/AADtgkO7iPbhuNdGB1PCLzJsOfxyeoGgIx8LIm2Tcqj8Bw/12/15474743/png/32x32/1/_/1/2/twitter.png/ELahwwsY-sWmAiAHKAc/FFm96maSXfXTLgRQb9fuKAT0nUhuG4Zm3RmHw5tSv8U?size=2048x1536&size_mode=3"></a>
    <p class="pull-right">Christoffer Nygaard (2016)</p>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
